<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="testBean"
          class="ru.mayorova.spring.TestBean">
        <constructor-arg value="Neil"/>
    </bean>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="musicBeanClassic"
         class="ru.mayorova.spring.ClassicalMusic">
    </bean>
    <bean id="musicBeanRock"
          class="ru.mayorova.spring.RockMusic">
    </bean>

<!--through constructor-->
    <!--<bean id="musicPlayer" class="ru.mayorova.spring.MusicPlayer">-->
        <!--<constructor-arg ref="musicBean"/>-->
    <!--</bean>-->
<!--through setter-->
    <bean id="musicPlayer" class="ru.mayorova.spring.MusicPlayer">
       <!-- <property name="music" ref="musicBean"/>-->
        <property name="musicList">
            <list>
                <ref  bean="musicBeanClassic"  />
                <ref  bean="musicBeanRock"  />
            </list>
        </property>
       <!-- <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="70"/>-->
    </bean>
</beans>